.tv {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.home-theater {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.audio {
    margin-top: 4.3rem;
    margin-bottom: 1.5rem;
}

.camara {
    margin-top: 2.1rem;
    max-height: 75%;
}

.security {
    margin-top: 4rem;
    margin-bottom: 0.7rem;
}