.bed {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.armchair {
    margin-top: 5.9rem;
    margin-bottom: 3.5rem;
}

.table {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.kitchen-furniture {
    margin-top: 1.6rem;
}

.desk {
    margin-top: 1.6rem;
}