.pans {
    margin-top: 1.5rem;
}

.crockery {
    margin-top: 1.5rem;
}

.cup {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.knives {
    max-height: 70%;
    margin-top: 2.7rem;
    margin-bottom: 0.5rem;
}

.grill {
    margin-top: 1.5rem;
}