.slider {
    position: relative;
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.image-slider {
    width: 80rem;
    height: 40rem;
    border-radius: 1rem;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 3rem;
    color: #272b2b;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 3rem;
    color: #272b2b;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    display: flex;
    justify-content: center;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

@media screen and (max-width: 950px) {
    .image-slider {
        max-width: 60%;
        max-height: 30rem;
        justify-content: center;
    }
}

@media screen and (max-width: 550px) {
    .slider {
        width: 100vw;
    }

    .right-arrow {
        right: 3%;
    }

    .left-arrow {
        left: 3%;
    }
}