.cell {
    margin-top: 3.2rem;
    margin-bottom: 1.5rem;
}

.tablet {
    margin-top: 4.1rem;
    margin-bottom: 2rem;
}

.laptop {
    margin-top: 1.3rem;
}

.headset {
    margin-top: 1.3rem;
}

.console {
    margin-top: 1.3rem;
}