.chainsaw {
    margin-top: 7rem;
    margin-bottom: 3.4rem;
}

.blower {
    margin-top: 1.5rem;
}

.drill {
    margin-top: 1.5rem;
}

.hand-tools {
    margin-top: 1.5rem;
}

.toolbox {
    margin-top: 1.5rem;
}