.warranty-container {
    margin: 0 auto;
    margin-bottom: 5rem;
    min-width: 80vw;
    max-width: 80%;
    height: 18rem;
    color: #272b2b;
    background-color: #ebebeb;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.5rem 1.8rem #cccccc;
}

.title-container {
    padding: 2rem;
}

.list {
    display: flex;
    list-style: none;
}

.warranty-icon {
    display: block;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.warranty-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 500;
}

@media screen and (max-width: 950px) {
    .warranty-container {
        min-width: 90vw;
    }

    .warranty-item {
        font-size: 1rem;
    }

    .warranty-icon {
        font-size: 3.2rem;
    }

    .list li {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 550px) {
    .warranty-container {
        min-width: 100vw;
    }

    .list li {
        margin: 0;
    }

    .info-container {
        margin-top: 25rem;
    }
}